﻿@{
    ViewBag.Title = "Result";
}
@model IEnumerable<Fizz_Buzz.Models.ResultM>
<h2>Result</h2>
@if (Model != null)  
   {  
       foreach (var item in Model)  
       {  
       <ul id="menu">  
  
           <li>  
              <span style="color:@item.labelColour">
                   @Html.DisplayFor(modelItem => item.name)  
                  </span>
           </li>               
       </ul>  
       }  
   }  